/** Variables */
$doc-bg-color: #fff;
$doc-bg-color-contrast: #ff0000;
$doc-text-color: #000;

/** Mixins */
@mixin transform($property) {
  
  -webkit-transform: $property; 
  -ms-transform: $property;
  transform: $property;

}

body, html {

  background: $doc-bg-color;
  color: $doc-text-color;

}
.element {

  display: block;
  width: 150px;
  height: 150px;
  background: $doc-bg-color-contrast;
  @include transform(translateX(50%));

}